{% extends 'shared/layout.html' %}

{% block maincontent %}
<br><br>
<h1 class="center">Chat Room</h1>
<br><br>
<hr class="line">
<br><br>
<div id='chat' contenteditable>
</div>

<br>

<div class="messageBox">
    <p>
        <input placeholder="Enter Your Message Here" />
    </p>
</div>
<br>
<button id="leave" class="leaveButton">Leave Chat</button>
<br>
<br>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
</script>
<script>
    var socket;
    $(document).ready(function () {

        // socket = io.connect('https://' + document.domain + ':' + location.port + '/chat');
        socket = io.connect('https://' + document.domain + ':' + location.port + '/chat');
        socket.on('connect', function () {
            socket.emit('joined', {});
        });

        socket.on('status', function (data) {
            let tag = document.createElement("p");
            let text = document.createTextNode(data.msg);
            let element = document.getElementById("chat");
            tag.appendChild(text);
            tag.style.cssText = data.style;
            element.appendChild(tag);
            $('#chat').scrollTop($('#chat')[0].scrollHeight);

        });

        socket.on('message', function (data) {
            let tag = document.createElement("p");
            let text = document.createTextNode(data.msg);
            let element = document.getElementById("chat");
            tag.appendChild(text);
            tag.style.cssText = data.style;
            element.appendChild(tag);
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });

        // start the process of putting the message on the screen when the user presses enter 
        $('input').unbind('keypress').keypress(function (event) {
            if (event.which === 13) {
                let message = $(this).val();
                socket.emit('message', { 'msg': message });
                $(this).val('');
            }
        });

        // leave the chat button
        $('#leave').click(function () {
            socket.emit('leaveChat', {});
            setTimeout(() => {
                window.location.href = '/';
            }, 500);
            //socket.disconnect();
        });
    });
</script>
{% endblock %}