{% extends 'shared/layout.html' %}

{% block maincontent %}
<div>
  <div class="parent">
    <h2>
        Below is a list of projects I worked on in CSE 477: 
    </h2>
    <br>
    <p>Click an image or the hyperlink in the description to learn more.</p>
    <br>
    <hr>
    <br>
    <div class="leftBox">
        <a href = "/piano" class="links">
            <img src="static/main/images/piano.jpeg" alt="Piano Picture" loading="lazy">
        </a>
    </div>
    <div class="rightBox">
        <h3>JavaScript Piano</h3>
        <p>This is a project that displays an interactive piano. Be careful though, if the right combinations of keys are pressed, The Great Old One will be awoken. This project uses HTML, CSS, and JavaScript.
            <a href="piano.html" class="piano-link"> Click to go to Piano Project</a>
        </p>
    </div>
  </div>
</div>
<br>
<br>

{% endblock %}
