{% extends 'shared/layout.html' %}

{% block maincontent %}

    {% for inst_id, inst in resume_data.items() %}
        <div class="row-layout">
            <h1><strong>{{ inst['name'] }}</strong></h1>
            <div class="right-align">
                <h4>{{ inst['department'] if inst['department'] }} {{ inst['address'] if inst['address'] }} {{ inst['city'] if inst['city'] }}, {{ inst['state'] if inst['state'] }} {{ inst['zip'] if inst['zip'] }}</h4>
            </div>
        </div>
        {% if inst['positions'] != {} %}
            {% for pos_id, pos in inst['positions'].items() %}
                <div class="row-layout">
                    <h2>{{ pos['title'] }}</h2>
                    <div class="right-align">
                        {% if pos['start_date'] %}
                            <h4>{{ pos['start_date'].strftime('%B %d, %Y') }} -
                                {% if pos['end_date'] %}
                                    {{ pos['end_date'].strftime('%B %d, %Y') }}
                                {% else %}
                                    Current
                                {% endif %}
                            </h4>
                        {% endif %}
                    </div>
                </div>
                <div class="indent"><h3>-{{ pos['responsibilities'] }} </h3></div>

                {% if pos['experiences'] != {} %}
                    {% for experience_id, experience in pos['experiences'].items() %}
                      <div class="row-layout">
                        {% if experience['hyperlink'] %}
                          <div class="indent"><a href="{{ experience['hyperlink'] }}"><h3><div class="bold">{{ experience['name'] }}</div></h3></a></div>
                        {% else %}
                          <div class="indent"><h3><div class="bold">{{ experience['name'] }}</div></h3></div>
                        {% endif %}
                      </div>
                      <div class="indent">
                        <div class="indent"><h4>-{{ experience['description'] }}</h4></div>
                      </div>
                         
                        {% if experience['skills'] != {} %}
                            <div class="indent">
                              {% for skill_id, skill in experience['skills'].items() %}
                                <div class="indent"><h5>Skill: {{ skill['name'] }}</h5></div>
                              {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}

        <hr>
    {% endfor %}

{% endblock %}